:root{
    --white-color: #fff;
    --black-color: #000;
    --text-color: #ccc;
    --main-color: #57b361;
    --background-hover-color: #18d82e;
}

*{
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: "Roboto", sans-serif;
    scroll-behavior: smooth;
}

/* Button stye */
.btn{
    min-width: 124px;
    height: 34px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 1.5rem;
    padding: 0 12px;
    outline: none;
    cursor: pointer;
    color: var(--black-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 1.6rem;
    background-color: var(--white-color);
}

.btn:hover{
    opacity: 0.7;
}


.btn.btn--primary{
    background-color: var(--main-color);
    color: var(--white-color);
}

/* Select options drop down */
.select-input{
    position: relative;
    min-width: 200px;
    height: 34px;
    padding: 0 12px;
    border-radius: 2px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.4rem;
    cursor: pointer;
}

.select-input__label{
    font-size: 1.4rem;;
}

.select-input__icon{
    font-size: 1.4rem;
    color: rgb(131, 131, 131);
    cursor: pointer;
}

.select-input__list{
    position: absolute;
    left: 0;
    right: 0;
    top: 34px;
    background-color: var(--white-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: none;
    list-style: none;
}

.active{
    background-color: var(--background-hover-color);
}

/* Responsive */
/* .grid{ 
    width: 1200px;
    max-width: calc(100% - 24px);
    margin: 0 auto;
}

.grid__full-width{
    width: 100%;
}

.grid__row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
} */



.grid{
    width: 100%;
    display: block;
    padding: 0;
}

.grid.wide {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -4px;
    margin-right: -4px;
}

.col{
    padding-left: 4px;
    padding-right: 4px;
}

.c-0{
    display: none;
}

.c-1{
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
}

.c-2{
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
}

.c-3{
    flex: 0 0 25%;
    max-width: 25%;
}

.c-4{
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}

.c-5{
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
}

.c-6{
    flex: 0 0 50%;
    max-width: 50%;
}

.c-7{
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
}

.c-8{
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
}

.c-9{
    flex: 0 0 75%;
    max-width: 75%;
}

.c-10{
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
}

.c-11{
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
}

.c-12{
    flex: 0 0 100%;
    max-width: 100%;
}