*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* --------------------------------------------------------------Header------------------------------------------------------------- */
.header{
    background-color: #fff;
    position: fixed;
    position: sticky;
    top: 0;
    width: 100%; 
    background-image: linear-gradient(0, var(--main-color), #4ab256);
    z-index: 1;
    box-shadow: 0 5px 2px rgba(0, 0, 0, 0.05);
}

/* Menu navbar first*/
.header__navbar-first{
    padding: 20px 0;
}

.logo img {
    max-width: 100%;
    height: auto;
}

.header__navbar-search-box{
    display: flex;
    margin-top: 17px;
}

.header__navbar-search-box #search-input{
    width: 400px;
    height: calc(100% - 10px);
    border-radius: 8px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border: 1px solid #e0e0e0;
    outline: none;
    font-size: 1.6rem;
    padding: 10px 0 10px 10px;
}

.header__navbar-search-box .search-btn{
    border-radius: 8px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    background-color: #ccc;
    color: var(--black-color);
    border: none;
    padding: 0 10px;
    width: 120px;
    transition: 0.3s;
    font-size: 1.6rem;
}

.header__navbar-search-box .search-btn:hover{
    opacity: 0.8;
    cursor: pointer;
    background-color: var(--background-hover-color);
}

.login{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}

.login > li{
    padding: 9px 6px;
}

.login > li > a,
.login > li .login-icon{
    color: var(--black-color);
    padding: 15px 0;
}
.login > li:hover > a,
.login > li:hover > .login-icon{
    opacity: 0.8;
    color: #fff;
    cursor: pointer;
    transition: 0.5s;
}

.login li > a{
    text-decoration: none;
    color: var(--black-color);
    font-size: 2rem;
}

.login-icon{
    font-size: 2.2rem;
    color: var(--black-color);
    margin-left: 5px;
}


/* Menu navbar second*/
.header__navbar-second{
    list-style: none;
    display: flex;
    width: 100%;
}

.header__navbar-second li{
    width: 100%;
}

.header__navbar-second li a{
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--white-color);
    text-transform: uppercase;

    text-align: center;
    display: block;
    width: 100%;
    padding: 25px;
}

.header__navbar-second li:hover{
    background-color: var(--background-hover-color);
    opacity: 0.8;
    transition: 0.3s;
}

.header__navbar-second-icon{
    font-size: 2.8rem;
    color: var(--white-color);
    display: none;
    align-self: center;
    justify-self: flex-start;
}

.header__navbar-second-icon:hover{
    opacity: 0.8;
    cursor: pointer;
    transition: 0.3s;
}

/* Menu bar responsive */
.nav__overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
    display: none;
}

.header__navbar-second--responsive{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 320px;
    max-width: 100%;
    background-color: var(--main-color);
    z-index: 1;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    transform: translateX(-100%);
    transition: transform linear 0.3s, opacity linear 0.3s;
    opacity: 0;
}

.header__navbar-second--responsive > ul{
    list-style: none;
    margin-top: 32px;
}

.header__navbar-second--responsive a{
    text-decoration: none;
    color: #ccc;
    display: block;
    padding: 20px 22px;
    font-size: 2rem;
    font-weight: 500;
    text-transform: uppercase;
}

.header__navbar-second--responsive a:hover{
    color: var(--white-color);
    background-color: var(--background-hover-color);
}

.header__navbar-second-close{
    font-size: 3rem;
    color: #666;
    position: absolute;
    top: 0.5rem;
    right: 1.5rem;
}

.header__navbar-second-close:hover{
    opacity: 0.8;
    color: var(--white-color);
    cursor: pointer;
}

#nav-input:checked ~ .nav__overlay{
    display: block;
}

#nav-input:checked ~ .header__navbar-second--responsive{
    transform: translateX(0);
    opacity: 1;
}

/* Container */
.content_container{
    background-color: #F5F5F5F5;
}

.content_container--pt{
    padding-top: 24px;
}

/* Category */
.category{
    background-color: var(--white-color);
    border-radius: 2px;
    position: sticky;
    top: 160px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.05);
}

.category__heading{
    font-size: 2rem;
    font-weight: 600;
    color: var(--black-color);
    padding: 24px 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.category-list{
    padding: 10px 0;
    margin-bottom: 10px;
}

.category-list li{
    list-style: none;
}

.category-list li a{
    color: var(--black-color);
    font-size: 1.6rem;
    text-decoration: none;
    display: block;
    padding: 10px 16px;

    position: relative;
    right: 0;
    transition: right linear 0.1s;

}

.category-list li a:hover{
    color: var(--main-color);
    right: -3px;
}

.category-list .category-active a{
    color: var(--main-color);
}

/* Category mobile*/
.category-mobile{
    background-color: var(--main-color);
    border-radius: 2px;
}

.category__heading-mobile{
    font-size: 2rem;
    font-weight: 600;
    color: var(--black-color);
    padding: 24px 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.category-list-mobile{
    padding-left: 20px;
}

.category-list-mobile li{
    list-style: none;
}

.category-list-mobile li a{
    color: var(--black-color);
    font-size: 1.6rem;
    text-decoration: none;
    display: block;
    padding: 10px 16px;
    position: relative;
    right: 0;
    transition: right linear 0.1s;

}

.category-list-mobile li a:hover{
    color: var(--white-color);
}

/* Home sort + filter */
.home-filter{
    background-color: rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    padding: 12px 22px;
    border-radius: 2px;
}

.home-filter__label{
    font-size: 1.4rem;
    color: #555;
    margin-right: 16px;
}

.home-filter .btn{
    margin-right: 12px;
    min-width: 90px;
}

.select-input{
    position: relative;
}

.select-input__list li:hover a{
    color: var(--main-color);
}

.select-input__list li a{
    text-decoration: none;
    color: var(--black-color);
    padding: 10px 16px;
    display: block;
    font-size: 1.4rem;
    transition: 0.3s;
}

.select-input:hover .select-input__list{
    display: block;
    transition: 0.5s;
    z-index: 1;
}

.home-filter__page{
    display: flex;
    align-items: center;
    margin-left: auto;
}

.home-filter__page-num{
    font-size: 1.4rem;
    color: var(--black-color);
    margin-right: 22px;
}

.home-filter__page-current{
    color: var(--main-color);
}

.home-filter__page-control{
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    width: 72px;
    height: 36px;
}

.home-filter__page-control a{
    flex: 1;
    display: flex;
    background-color: var(--white-color);
    text-decoration: none;
}

.home-filter__page-control a:first-child{
    border-right: 1px solid #eee;
}

.home-filter__page-icon{
    margin: auto;
    font-size: 1.4rem;
    color: #555;
}

/* Product */
.list{
    margin-bottom: 10px;
}
.product-item{
    display: block;
    text-decoration: none;
    cursor: pointer;
    background-color: var(--white-color);
    margin: 8px 0;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    transition: transform linear 0.1s;
    position: relative;
    overflow: hidden;
}

.product-item:hover{
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.05);
    transform: translateY(-2px);
}

.product-item:hover .product-item__buy{
    bottom: 0px;
    transition: 0.25s ease-in-out;
}

.product-item:hover .product-item__buy:hover{
    background-color: #666;
    opacity: 0.8;
    color: #fff;
    font-weight: 600;
}

.product-item__img{
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.product-item__img:hover{
    scale: 1.02;
}

.product-item__name{
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--black-color);
    line-height: 1.8rem;
    margin: 10px 10px 6px;
    height: 3.6rem;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.product-item__price{
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}

.product-item__price-old{
    font-size: 1.4rem;
    margin-left: 10px;
    color: #666;
    text-decoration: line-through;
}

.product-item__price-current{
    font-size: 1.6rem;
    color: var(--main-color);
    margin-left: 10px;
}

.product-item__action{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 6px 10px 0;
}

.product-item__like{
    font-size: 1.2rem;
    color: var(--black-color);
}

.product-item__rating{
    transform: scale(0.8);
    transform-origin: right;
    color: #ccc;
}

.product-item__origin{
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    margin: 6px 10px 0;
    color: #595959;
}

.product-item__brand{
    margin-bottom: 10px;
}

.product-item__origin-name{
    margin-bottom: 10px;
}

.product-item__buy{
    width: 100%;
    opacity: 0.8;
    font-size: 1.4rem;
    background-color: var(--main-color);
    color: var(--white-color);
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    display: block;
    padding: 10px 0;
    position: absolute;
    bottom: -36px;
}

.product-item:hover .product-item__buy{
    bottom: 0px;
    transition: 0.25s ease-in-out;
}

/* --------------------------------------------------------------Footer------------------------------------------------------------- */
.footer{
    padding-top: 30px;
    border-top: 4px solid var(--main-color);
}

.footer__heading{
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--black-color);
    font-weight: 600;
}

.introduce-content{
    font-size: 1.4rem;
    color: #737373;
    margin: 10px 0;
    font-weight: normal;
}

.footer-list{
    list-style: none;
}

.footer-list li a{
    text-decoration: none;
    color: #737373;
    font-size: 1.4rem;
    display: block;
    padding: 8px 0;
    display: flex;
    align-items: center;
}

.footer-list li a:hover{
    color: var(--main-color);
}

.footer-icon{
    font-size: 1.6rem;
    margin-right: 5px;
}


.footer__email{
    padding-top: 10px;
    display: flex;
}

.footer__email #footer-email__input{
    width: 200px;
    height: calc(100% - 10px);
    border-radius: 8px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border: 1px solid #e0e0e0;
    outline: none;
    font-size: 1.4rem;
    padding: 10px 0 10px 10px;
}

.footer__email .footer-email__btn{
    border-radius: 8px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    background-color: #ccc;
    color: var(--black-color);
    border: none;
    padding: 0 10px;
    width: 40px;
    transition: 0.3s;
    font-size: 1.4rem;
    margin-right: 10px;
}

.footer__email .footer-email__btn:hover{
    background-color: var(--main-color);
    cursor: pointer;
}

.footer-bottom{
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
}

.footer-bottom__content{
    width: 100%;
    text-align: center;
    padding: 20px 0 10px 0;
    font-size: 1.6rem;
    line-height: 1.2;
    font-weight: 400;
    color: #555;
}

/* --------------------------------------------------------------Home------------------------------------------------------------- */
.active{
    padding-top: 50%; 
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.slide-show{
    overflow: hidden;
}

.slide-show img{
    width: 100%;
    height: auto;
}

.home-list-banner{
    display: flex;
    transform: rotateX();
    transition: 0.5s;
}

.home-product__heading{
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--black-color);
    padding: 20px 14px;
    text-align: center;
}

.sub-des-product{
    text-align: center;
    font-size: 1.4rem;
    line-height: 1.2;
}

.home-payment__heading{
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--black-color);
    padding: 20px 14px;
    text-align: center;
}

.home-payment__heading img{
    width: 100%;
    height: auto;
}
/* --------------------------------------------------------------Contact------------------------------------------------------------- */
.frm-contact{
    margin-bottom: 20px;
}

.contact-heading{
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--black-color);
    padding: 20px 14px;
    justify-content: center;
}

.contact-infor{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 100%;
}

.contact-label{
    min-width: 120px;
    font-weight: 500;
    font-size: 1.8rem;
    color: var(--black-color);
}

.contact-input{
    flex: 1;
    font-size: 1.8rem;
    background: #fff;
    border: medium none;
    color: #838383;
    padding: 16px;
    outline: none;
    resize: none;
}

.contact-infor.al-top{
    justify-content: flex-start;
}

.contact-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-btn{
    background-color: var(--main-color);
    color: var(--white-color);
    font-size: 1.8rem;
    padding: 14px 10px;
    border-radius: 2px;
    border: none;
    cursor: pointer;
    min-width: 120px;
}

.contact-btn:hover{
    background-color: var(--background-hover-color);
    opacity: 0.8;
    transition: 0.3s;
}

/* --------------------------------------------------------------Detail------------------------------------------------------------- */
.product-detail-item{
    padding: 30px 0;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

.product-detail__img{
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.product-detail__content{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
}

.product-detail__heading{
    font-size: 2.4rem;
    font-weight: 600;
    color: var(--black-color);
    padding: 20px 0;
    line-height: 1;
    margin: 0;
}

.product-detail__price{
    font-size: 1.8rem;
    font-weight: 600;
    display: flex;
}

.product-detail__price-old{
    font-size: 1.7rem;
    font-weight: 400;
    text-decoration: line-through;
    color: #666;
    margin-left: 10px;
}

.product-detail__price-new{
    color: var(--main-color);
}

.product-detail__btn{
    background-color: var(--main-color);
    color: var(--white-color);
    font-size: 1.8rem;
    padding: 14px 10px;
    border-radius: 2px;
    border: none;
    cursor: pointer;
    min-width: 120px;
    transition: linear 0.2s;
}

.product-detail__btn:hover{
    opacity: 0.9;
    font-weight: 600;
}

.product-detail__quantity{
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.quantity_label{
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--black-color);
    margin-right: 10px;
}

.decrease-btn, 
.increase-btn{
    background-color: #fff;
    color: #000;
    font-size: 1.4rem;
    padding: 10px;
    border-radius: 2px;
    border: none;
    cursor: pointer;
    min-width: 30px;
    min-height: 30px;
}

.decrease-btn:hover, 
.increase-btn:hover{
    background-color: #ccc;
}

.quantity{
    font-size: 1.4rem;
    width: 90px;
    padding: 10px 0;
    border-radius: 2px;
    border: none;
    cursor: pointer;
    min-width: 30px;
    min-height: 30px;
    text-align: center;
    cursor: text;
}

.product-detail__sub-heading{
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--black-color);
    margin: 20px 0 10px 0;
}

.product-detail__description{
    font-size: 1.7rem;
    color: #737373;
    line-height: 1.3;
}

/* --------------------------------------------------------------Lab----------------------------------------------------------------- */
.lab-item{
    min-width: 180px;
    min-height: 230px;
    margin: 20px 0;
    border: 2px solid var(--main-color);
    border-radius: 10px;
}

.lab-item__content{
    padding: 20px;
    text-align: center;
}

.lab-item__content-title{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
    line-height: 1;
}

.lab-item__content-link a{
    font-size: 1.8rem;
    padding: 10px;
    text-decoration: none;
    display: block;
    color: #000;
}

.lab-item__content-link a:hover{
    font-weight: 500;
    color: var(--main-color);
    transition: linear 0.2s;
}


/* --------------------------------------------------------------About--------------------------------------------------------------- */
.about-container{
    padding: 20px 0;
}

.about-banner{
    padding-top: 220%; 
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.about-heading h1{
    font-size: 4rem;
    line-height: 1;
    color: #000;
    margin-bottom: 10px;
}

.about-content-first,
.about-content-second{
    font-size: 2.2rem;
    line-height: 1.4;
    color: #000;
    font-weight: 400;
    text-align: justify;
}

.about-content-first__paragraph{
    margin-bottom: 15px;
}