/* Menu Ngang */
.horizontal-menu {
    list-style: none;
    padding: 0;
    display: flex;
  }

  .horizontal-menu li {
    font-family: "Bungee Spice", cursive;
    margin: 0;
    padding: 10px;
    background-color: aquamarine;
    transition: background-color 0.3s ease-in-out;
  }
  .horizontal-menu li a{
    text-decoration: none;
  }

  .horizontal-menu li:hover {
    background-color: #f39c12;
    border-radius: 5px;
  }
  .horizontal-menu li a:hover {
    font-weight: bold;
    color: white;
  }

  /* Menu Doc */
  .vertical-menu {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  .vertical-menu li {
    font-family: "Bungee Spice", sans-serif;
    margin: 0;
    padding: 10px;
    background-color: #3498db;
    border-bottom: white solid 1px;
    transition: background-color 0.3s ease-in-out, filter 0.3s ease-in-out, transform 0.3s ease-in-out;
  }

  .vertical-menu li:hover {
    
    filter: brightness(130%);
    /* opacity: 0.8; */
    font-style: italic;
  }